
  .logo-heading {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: xxx-large;
    color: #F7B896;
    white-space: nowrap; /* Keeps the text on a single line */
    overflow: hidden; /* Ensures the overflow is hidden */
    width: 100%; 
    animation: typing 0.9s steps(10) forwards;
    
  }
  /* .logo-heading:hover{
    /* animation: pulse 1.5s infinite;
  animation-timing-function: linear;   */
  /* animation: wiggle 75ms infinite;
  animation-timing-function: linear;  
  } */ 
  @keyframes typing {
    from { width: 0%; }
    to { width: 100%; }
  }
  @keyframes wiggle {
    0% { transform: translate(2px, 0); }
    50% { transform: translate(-2px, 0); }
    100% { transform: translate(2px, 0); }
  }
  
  @keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1);}
    100% { transform: scale(1); }
    }
  

   
   @media screen and (min-width: 1920px) {
    .logo-heading {
      font-weight: 700;
      font-size: 90px;
      color: #F7B896;
          }
          
      }