.background{
    background-color: #051C68  ;
    /* background: linear-gradient(145deg, #051C68 0%, #F7B896 100%); */

}
.button-contact {
    background-color: transparent;
    border: 3px solid #F7B896;
    border-radius: 30px;
    box-sizing: border-box;
    color: #F7B896;
    cursor: pointer;
    display: inline-block;
    font-family:
      Circular,
      -apple-system,
      BlinkMacSystemFont,
      Roboto,
      "Ubuntu",
      sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin: 15px 0px 0px 10px;
    outline: none;
    padding: 13px 23px;
    position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    transition:
      box-shadow 0.2s,
      -ms-transform 0.1s,
      -webkit-transform 0.1s,
      transform 0.1s;
    user-select: none;
    -webkit-user-select: none;
    width: 200px;
    margin-top: 20px;
    margin-right: 50px;
  }
  .button-contact:hover {
    background-color: #F7B896;
    color: #051C68;
    font-size: 17px;
    font-weight: bold;
    transition: fade 0.5s;
    transform: translateY(-5px);
  }
  .button-contact:focus-visible {
    box-shadow:
      #222222 0 0 0 2px,
      rgba(255, 255, 255, 0.8) 0 0 0 4px;
    transition: box-shadow 0.2s;
  }
  
  .button-contact:active {
    background-color: #2c2929;
    border-color: #000000;
    transform: scale(0.96);
  }
  
  .button-contact:disabled {
    border-color: #dddddd;
    color: #dddddd;
    cursor: not-allowed;
    opacity: 1;
  }
@keyframes bounce {
    0% {
      tranform: translate(0, 14px);
    }
    50% {
      transform: translate(0, -10px);
    }
  
  } 
  @keyframes hoverOutEffect {
    0% {
      transform: translateY(0) scale(1);
      box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      transform: translateY(-5px) scale(1.05);
      box-shadow: 0 8px 16px hsla(21, 86%, 78%, 0.705);;
    }
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  #contact-wrapper {
    background-color: #f7a674c7;
    width: auto;
    height:55vh;
    border-radius: 15px;
    padding: 0 25px;
    z-index: 0; /* Make sure the default z-index is above other elements */
    /* box-shadow: 0 4px 8px hsla(21, 86%, 78%, 0.705); */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for shadow and transform */
    /* animation: fadeInUp 1.5s ease-out; */

  }
  #contact-wrapper:hover {
    z-index: 1; /* Bring element to the front */
    animation: hoverOutEffect 0.3s forwards; /* Apply the animation */
    /* box-shadow: 0 4px 8px rgba(247, 184, 151, 0.6); */
    /* transition: transform 0.3s ease, box-shadow 0.3s ease; Smooth transition for shadow and transform */

  }


  @media screen and (min-width: 768px) {
    #center-contact-wrapper {
      width: 27%;
    }
    
    #contact-wrapper {
      width: 100%;
      }
      
  }