.scrolling-container {
  display: flex;
  height: fit-content;
  padding: 10px 0;
}
.scrolling-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  height: 100%;
  position: relative;
  height: 20vh;
}
.name-text {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  position: absolute;
  top: 1px; /* Position text slightly above the image */
  color: #F7B896;
  z-index: 25; /* Ensure text is above the image */
  transition: transform 0.3s ease, opacity 0.3s ease; /* Smooth transition */
  opacity: 0; /* Initially invisible */
  
}
.scrolling-slide:hover .name-text {
  opacity: 1; /* Fade in the text */
  transform:  translateY(-30px); 
  border-radius: 5px;
  animation: hoverOutEffect 0.3s forwards; /* Apply the animation */

}

.scrolling-slide-img {
  margin: 0 30px;
  height: 70px;
  width: 80px;
  padding: 10px;
  border-radius: 15%;
  background-color: white;
  box-shadow: 4px 1px 6px rgba(235, 214, 214, 0.4); /* Subtle shadow effect */
  transition: transform 0.3s ease; /* Smooth transition */
  z-index: 1; 
  bottom: 1px;
}
@keyframes hoverOutEffect {
  0% {
    transform: translateY(0) scale(1);
  }
  100% {
    transform: translateY(-7px) scale(1.01);
  }
}


@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@media screen and (min-width: 1300px) {
  .scrolling-slide-img {
    margin-right: 120px;
    height: 100px;
    width: 100px;
  }
}
@media screen and (min-width: 1900px) {
  .scrolling-slide-img {
    margin-right: 130px;
    height: 100px;
    width: 100px;
  }
}
@media screen and (min-width: 2400px) {
  .scrolling-slide-img {
    margin-right: 200px;
    height: 120px;
    width: 120px;
  }
}
@media screen and (min-width: 3000px) {
  .scrolling-slide-img {
    margin-right: 250px;
    height: 140px;
    width: 150px;
  }
}
@media screen and (min-width: 4000px) {
  .scrolling-slide-img {
    margin-right: 350px;
    height: 200px;
    width: 210px;
    padding: 30px;
  }
}
@media screen and (min-width: 5000px) {
  .scrolling-slide-img {
    margin-right: 450px;
    height: 250px;
    width: 260px;
    padding: 30px;
  }
}
@media screen and (min-width: 6000px) {
  .scrolling-slide-img {
    margin-right: 550px;
    height: 350px;
    width: 360px;
    padding: 30px;
  }
}
@media screen and (min-width: 7000px) {
  .scrolling-slide-img {
    margin-right: 700px;
    height: 440px;
    width: 450px;
  }
}
/* @media screen and (min-width: 768px) { */
