.TechHeading {
    font-size: 28px;
    margin-bottom: 40px;
    color: rgb(27, 27, 27);
    line-height: 1.25;
    font-weight: 400;
    letter-spacing: 2px;
    word-wrap: break-word;
}

.carousel{
    position: absolute;
    mask-image: linear-gradient(-90deg, white 85%, rgba(255, 255, 255, 0) 100%);
    background-color: white;
}

